#==================================================
# Git
#==================================================

.git
.gitignore
.gitattributes

#==================================================
# Documentation
#==================================================

README.md
LICENSE
*.md

#==================================================
# Docker
#==================================================

docker-compose.yml
Dockerfile
.dockerignore

#==================================================
# IDE
#==================================================

.vscode
.idea
*.swp
*.swo
*~

#==================================================
# OS
#==================================================

.DS_Store
Thumbs.db

#==================================================
# Miscellaneous
#==================================================

Makefile
/server/

*git-ignore*
