#==================================================
# macOS
#--------------------------------------------------

.DS_Store

#==================================================
# JetBrains
#==================================================

.idea/*

*.iml

#==================================================
# VSCode
#==================================================

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

#==================================================
# Cursor
#==================================================

.cursor/*
!.cursor/rules/

#==================================================
# Claude
#==================================================

.claude/*

#==================================================
# Miscellaneous
#==================================================

*git-ignore*
