services:
  server:
    build:
      context: ./services/server
      dockerfile: Dockerfile
    ports:
      - "25565:25565"
    volumes:
      - minecraft:/data
    stdin_open: true
    tty: true
    # restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 16G
volumes:
  minecraft:
